.calculator{
    width: 400px;
    height: 600px;
    background: grey;
    margin-left: 400px;
    margin-top: 30px;
    padding-top: 10px;
}
.display{
    width: 90%;
    background-color: rgb(252, 252, 252);
    height: 70px;
    margin-left: 23px;
    margin-top: 30px;
    border-radius: 15px;

}
.inputdisplay{
    width: 321px;
    margin-left: 16px;
    margin-top: 10px;
    height: 43px;
    
}